body{
    font-family: sans-serif;
    background-image: url(../images/fundo_html.jpg);
    color: rgb(157, 52, 255);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
section{
    display: block;
    background-color: rgba(26, 25, 25, 0.85);
    border: 2px solid white;
    width: 80%;
    margin: auto auto auto auto;
    padding-left: 20px;
    padding-right: 20px;
}

h1{
    text-align: center;
    color: rgba(248, 51, 84, 0.8);
}
p{
    text-align: justify;
    text-indent: 40px;
    
}
strong{
    color: rgba(248, 51, 84, 0.8);
}
